/* import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');
/* CSS variable*/
:root{
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /*blue*/
    --secondary-color: #aa9581;
    --highlight-color: #416a8e;
    --light-highlight-color: #7a9fc2;
}
body{
    font-family: var(--primary-font);

}
h1, h2, h3{
    font-family: var(--secondary-font);
    color: var(--primary-color);


}
h2{
    margin-bottom: 2rem;
}
h1,h2{
    text-transform: uppercase;

}
/* p{
    border: 2px solid var(--primary-color);
} */
.sub-heading-color{
    color: var(--secondary-color);
}
.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* navbar */
#navbar{
    background-color: var(--primary-color);
}
#navbar .logo{
    width: 30px;
}
/* header*/
#header .lead{
    font-family:var(--secondary-font) ;
}
/*services*/
#services .card-footer{
    font-weight:bold;
    color: var(--highlight-color);
    background-color: transparent;
}
#services .card{
    margin-bottom: 1.5rem;

}

/* grid visualasation */
/* .container,
.row{
    border: 2px solid black;

}
.col-12{
    border: 2px solid white;
    background-color: lightgrey;
} */
/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px){
    /*make all service cards the same height for consistency*/
    #services .card-body{
        min-height: 191px;
    }
}
/* Medium devices (tablets, 992px and up)*/
@media screen and (min-width: 992px){
    /*make all service cards the same height for consistency*/
    #services .card-body{
        min-height: auto;
    }
}

/* Medium devices (tablets, 1200px and up)*/
@media screen and (min-width: 1200px){
    /*make all service cards the same height for consistency*/
    #services .card-body{
        min-height: 220px;
    }
}

/* Medium devices (tablets, 1400px and up)*/
@media screen and (min-width: 1400px){
    /*make all service cards the same height for consistency*/
    #services .card-body{
        min-height: 195;
    }
}